.btn-group button {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
    width: 33.322%
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #3e8e41;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(219, 219, 219);
}

.flex-item {
    width: 100%;
}